html, body {
    background-color: #FFF;
    color: #636b6f;
    font-family: myFont;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

@font-face {
    font-family: myFont;
    src: url(../fonts/Stilu-Regular.otf);
}


.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 50px;
}

.top-left {
    position: absolute;
    left: 10px;
    top: 18px;
}

.content {
    margin-top: 80px;
    padding-top: 10px;
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
}

.m-b-md {
    margin-bottom: 30px;
}
